# Case Kavak - Analista de Dados

# Thaís Falcão

In [2]:
import pandas as pd

# Importando a tabela

In [4]:
df = pd.read_excel('BaseVendas.xlsx')
df.head()

,Categoria,Cidade,Pais,Customer Name,Data do Pedido,Código Nota Fiscal,Código Postal,Nome do Produto,Região,Segmento,Data de Envio,Tipo de Envio,Status do Envio,Estado,Subcategoria,Desconto %,Lucro,Quantidade,Valor da venda
0,Móveis,Henderson,United States,Claire Gute,2016-11-08,CA-2016-152156,42420,Bush Somerset Collection Bookcase,Sul,Pessoa Física,2016-11-11,Correios,Enviado no dia,Kentucky,Bookcases,0.00,42,2,262
1,Móveis,Henderson,United States,Claire Gute,2016-11-08,CA-2016-152156,42420,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Sul,Pessoa Física,2016-11-11,Correios,Enviado no dia,Kentucky,Chairs,0.00,220,3,732
2,Materiais de Escritório,Los Angeles,United States,Darrin Van Huff,2016-06-12,CA-2016-138688,90036,Self-Adhesive Address Labels for Typewriters b...,Oeste,Corporativo,2016-06-16,Correios,Envio tardio,California,Labels,0.00,7,2,15
3,Móveis,Fort Lauderdale,United States,Sean O'Donnell,2015-10-11,US-2015-108966,33311,Bretford CR4500 Series Slim Rectangular Table,Sul,Pessoa Física,2015-10-18,Padrão,Envio tardio,Florida,Tables,0.45,-383,5,958
4,Materiais de Escritório,Fort Lauderdale,United States,Sean O'Donnell,2015-10-11,US-2015-108966,33311,Eldon Fold 'N Roll Cart System,Sul,Pessoa Física,2015-10-18,Padrão,Envio tardio,Florida,Storage,0.20,3,2,22

In [10]:
df.tail()

,Categoria,Cidade,Pais,Customer Name,Data do Pedido,Código Nota Fiscal,Código Postal,Nome do Produto,Região,Segmento,Data de Envio,Tipo de Envio,Status do Envio,Estado,Subcategoria,Desconto %,Lucro,Quantidade,Valor da venda
9989,Móveis,Miami,United States,Tom Boeckenhauer,2014-01-21,CA-2014-110422,33180,Ultra Door Pull Handle,Sul,Pessoa Física,2014-01-23,Correios,Enviado com antecedência,Florida,Furnishings,0.2,4,3,25
9990,Móveis,Costa Mesa,United States,Dave Brooks,2017-02-26,CA-2017-121258,92627,Tenex B1-RE Series Chair Mats for Low Pile Car...,Oeste,Pessoa Física,2017-03-03,Padrão,Enviado com antecedência,California,Furnishings,0.0,16,2,92
9991,Tecnologia,Costa Mesa,United States,Dave Brooks,2017-02-26,CA-2017-121258,92627,Aastra 57i VoIP phone,Oeste,Pessoa Física,2017-03-03,Padrão,Enviado com antecedência,California,Phones,0.2,19,2,259
9992,Materiais de Escritório,Costa Mesa,United States,Dave Brooks,2017-02-26,CA-2017-121258,92627,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",Oeste,Pessoa Física,2017-03-03,Padrão,Enviado com antecedência,California,Paper,0.0,13,4,30
9993,Materiais de Escritório,Westminster,United States,Chris Cortes,2017-05-04,CA-2017-119914,92683,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",Oeste,Pessoa Física,2017-05-09,Correios,Envio tardio,California,Appliances,0.0,73,2,243

# Mostrando informações sobre a tabela e os dados

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Categoria           9994 non-null   object
 1   Cidade              9994 non-null   object
 2   Pais                9994 non-null   object
 3   Customer Name       9994 non-null   object
 4   Data do Pedido      9994 non-null   datetime64[ns]
 5   Código Nota Fiscal  9994 non-null   object
 6   Código Postal       9994 non-null   int64
 7   Nome do Produto     9994 non-null   object
 8   Região              9994 non-null   object
 9   Segmento            9994 non-null   object
 10  Data de Envio       9994 non-null   datetime64[ns]
 11  Tipo de Envio       9994 non-null   object
 12  Status do Envio     9994 non-null   object
 13  Estado              9994 non-null   object
 14  Subcategoria        9994 non-null   object
 15  Desconto %          9994 non-null   float64
 16  Lucro               9994 non-null   int64
 17  Quantidade          9994 non-null   int64
 18  Valor da venda      9994 non-null   int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(12)
memory usage: 1.4+ MB

In [12]:
colunas = list(df.columns)
colunas

['Categoria',
 'Cidade',
 'Pais',
 'Customer Name',
 'Data do Pedido',
 'Código Nota Fiscal',
 'Código Postal',
 'Nome do Produto',
 'Região',
 'Segmento',
 'Data de Envio',
 'Tipo de Envio',
 'Status do Envio',
 'Estado',
 'Subcategoria',
 'Desconto %',
 'Lucro',
 'Quantidade',
 'Valor da venda']

In [13]:
df[colunas].describe(include = 'all').T

<ipython-input-13-ff53df25f70a>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df[colunas].describe(include = 'all').T
<ipython-input-13-ff53df25f70a>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df[colunas].describe(include = 'all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
Categoria,9994,3,Materiais de Escritório,6026,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cidade,9994,531,New York City,915,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pais,9994,1,United States,9994,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer Name,9994,793,William Brown,37,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Data do Pedido,9994,1237,2016-09-05 00:00:00,38,2014-01-03,2017-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Código Nota Fiscal,9994,5009,CA-2017-100111,14,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Código Postal,9994,NaN,NaN,NaN,NaT,NaT,55190.4,32063.7,1040,23223,56430.5,90008,99301
Nome do Produto,9994,1850,Staple envelope,48,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Região,9994,4,Oeste,3203,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Segmento,9994,3,Pessoa Física,5191,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Data de Envio,9994,1334,2015-12-16 00:00:00,35,2014-01-07,2018-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tipo de Envio,9994,4,Padrão,5968,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Status do Envio,9994,3,Enviado com antecedência,4909,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Estado,9994,49,California,2001,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subcategoria,9994,17,Binders,1523,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Desconto %,9994,NaN,NaN,NaN,NaT,NaT,0.156203,0.206452,0,0,0.2,0.2,0.8
Lucro,9994,NaN,NaN,NaN,NaT,NaT,28.6519,234.256,-6600,2,9,29,8400
Quantidade,9994,NaN,NaN,NaN,NaT,NaT,3.78957,2.22511,1,2,3,5,14
Valor da venda,9994,NaN,NaN,NaN,NaT,NaT,229.873,623.249,0,17,54.5,210,22638

In [9]:
print(f'O arquivo contém {len(df.index)} linhas')

O arquivo contém 9994 linhas

# Verificando a existência de duplicatas

In [40]:
df[df.duplicated()]

,Categoria,Cidade,Pais,Customer Name,Data do Pedido,Código Nota Fiscal,Código Postal,Nome do Produto,Região,Segmento,Data de Envio,Tipo de Envio,Status do Envio,Estado,Subcategoria,Desconto %,Lucro,Quantidade,Valor da venda
3406,Móveis,Columbus,United States,Laurel Beltran,2014-04-23,US-2014-150119,43229,Global Leather Highback Executive Chair with P...,Leste,Pequenas Empresas,2014-04-27,Padrão,Enviado com antecedência,Ohio,Chairs,0.3,-12,2,281

In [46]:
df_drop = df.drop_duplicates().reset_index()

print(f'O arquivo contém {len(df.index) - len(df_drop.index)} linha(s) duplicata(s)')

O arquivo contém 1 linha(s) duplicata(s)

# Verificando a existência de dados nulos

In [48]:
df_drop.isnull().sum()

index                 0
Categoria             0
Cidade                0
Pais                  0
Customer Name         0
Data do Pedido        0
Código Nota Fiscal    0
Código Postal         0
Nome do Produto       0
Região                0
Segmento              0
Data de Envio         0
Tipo de Envio         0
Status do Envio       0
Estado                0
Subcategoria          0
Desconto %            0
Lucro                 0
Quantidade            0
Valor da venda        0
dtype: int64

# Salvando a tabela após removação da linha repetida

In [49]:
df_drop.to_excel('BaseVendas - sem duplicatas.xlsx')